name: tests

on:
  push:
    branches:
      - devvvv

jobs:
    deploy:
        runs-on: ubuntu-latest
        steps:
        - name: Checkout code
          uses: actions/checkout@v3

        - name: Setup PHP
          uses: shivammathur/setup-php@v2
          with:
            php-version: '8.4'

        - name: Install Composer Dependencies
          run: composer install --optimize-autoloader --no-dev --no-progress --no-interaction --prefer-dist

        - name: Install Node.js Dependencies
          uses: actions/setup-node@v3
          with:
            node-version: '20'
            
        - name: Install NPM Dependencies
          run: |
            npm install
            npm run build

        - name: Synchronize Files To Server
          uses: easingthemes/ssh-deploy@v2.1.5
          env:
            SSH_PRIVATE_KEY: ${{ secrets.SSH_PRIVATE_KEY }}
            SOURCE: '.'
            REMOTE_HOST: ${{ secrets.REMOTE_HOST }}
            REMOTE_USER: ${{ secrets.REMOTE_USER }}
            TARGET: ${{ secrets.TARGET }}


        - name: Run Remote/Artisan Commands
          uses: appleboy/ssh-action@v0.1.10
          with:
            host: ${{ secrets.REMOTE_HOST }}
            username: ${{ secrets.REMOTE_USER }}
            key: ${{ secrets.SSH_PRIVATE_KEY }}
            script: |
              cd ${{ secrets.TARGET }}
              php artisan migrate --force
              php artisan optimize